.container img {
  width: 200px;
  height: 150px;
  flex-wrap: wrap;
}

.container {
  display: flex;
  border: 5px solid blue;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}

