@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lobster&family=Poppins:ital,wght@0,400;0,600;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body{
    font-family: 'Poppins', sans-seri;
    background-image: url("/images/sky.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

a{
    color: white;
}

.container{
    width: 80%;
    margin: auto;
}
header{
    height: 100px;
    border-bottom:2px solid black;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
}

header nav .logo a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    column-gap: 30px;
}

nav ul a{
    color: white;
    text-decoration: none;
}
nav ul a:hover{
    color: yellowgreen;
    text-decoration: none;
}

nav .menu{
    display: flex;
    align-items: center;
    column-gap: 50px;
}

nav .menu .menu-button{
    color: #0ba2c0;
    text-decoration: none;
    background-color: rgba(255,255,255,0.08);
    padding: 12px 24px;
    border-radius: 60px ;
}
nav .menu .menu-button:hover{
    background-color: #0ba2c0;
    color: white;
}

.content{
    color: white;
    height: calc(100vh - 100px);
    padding-top: 150px;
}

.content h1{
    font-size: 60px;
    text-align: center;
}
.content p{
    font-size: 30px;
    text-align: center;
    margin-top: 32px;
}

.content .links{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    column-gap: 16px;
}
.content .links a{
    background-color: white;
    padding: 20px;
    width: 280px;
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    border-radius: 56px;
}
.content .links a:hover{
    background-color: yellowgreen ;
    color: white;
}
